
.label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: whitesmoke;
}

.progressBar{
    height: 250px;
    width: 200px;
}

