.score-card{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:0.6rem;
}
.progressBar{
    height:180px;
    width:180px;
}
.label{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1rem;
    font-weight:500;
    color:whitesmoke;
}
@media(max-width:500px){
    .progressBar{
        height:130px;
        width:130px;
    }
}