body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --green: #4ade80;
  --red: #f87171;
  --yellow: #fbbf24;
  --blue: #38bdf8;
  --accent: #a78bfa;
}

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body,
#root{
    height:100%;
    overflow-x:hidden;
    overflow-y: auto;
}

html{
   font-size: 14px;
}